/.idea/
/target/
.pipeline/build/*
/build/*
**/__pycache__
*.pyc
*?metastore_db/*
*/spark_warehouse/*
.vscode/*
derby.log
.DS_Store
__pycache__/
*_spark_dist
*.zip
.ipynb_checkpoints
*/spark_warehouse/*%
/.vscode/
.metals
supra-linear-projection.iml
.pytest_cache
*.ipynb
*.ipynb_checkpoints
/data/postgres/*
/data/trip_data/*